@use 'mixins' as mixins;

::ng-deep {
  .p-datepicker:not(.p-disabled).p-focus .p-datepicker-input {
    border-color: #0e7478 !important;
    box-shadow: 0 0 0 0.2rem rgba(14, 116, 120, 0.2) !important;
  }

  .p-datepicker-panel,
  .p-datepicker {
    .p-datepicker-day-selected {
      background: #0e7478 !important;
      color: #fff !important;
      border-color: #0e7478 !important;
    }
  }

  .p-select:not(.p-disabled).p-focus {
    border-color: #0e7478 !important;
    box-shadow: 0 0 0 0.2rem rgba(14, 116, 120, 0.2) !important;
  }

  .p-select-option.p-select-option-selected {
    background: #0e7478 !important;
    color: #fff !important;
  }

  .p-select-option {
    font-size: 14px !important;
  }
}

.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  padding: 20px;
  box-sizing: border-box;
}

.charts-wrapper {
  display: flex;
  flex: 1;
  gap: 20px;
  width: 100%;
  min-height: 350px;
}

.chart-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 20px;

  .header {
    @include mixins.header-with-icon;
  }

  &.donut {
    flex: 2;
  }

  &.area {
    flex: 4;
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  height: 350px;
  box-sizing: border-box;
  background: #f5f5fa;
  border: 1px solid #ccc;
  border-radius: 8px;

  &.line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
  }
}

app-multi-donut-chart,
app-stacked-area-chart,
app-line-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  .source-dropdown {
    width: 175px;
  }

  .compare-dropdown {
    width: 175px;
  }
}
