::ng-deep {
  .p-datepicker:not(.p-disabled).p-focus .p-datepicker-input {
    border-color: #0e7478 !important;
    box-shadow: 0 0 0 0.2rem rgba(14, 116, 120, 0.2) !important;
  }

  .p-datepicker-panel,
  .p-datepicker {
    .p-datepicker-day-selected {
      background: #0e7478 !important;
      background-color: #0e7478 !important;
      color: #ffffff !important;
      border-color: #0e7478 !important;
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
  min-height: 0;
  flex: 1;
}

.charts-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 100%;
  flex: 1;
  min-height: 400px;
}

.stacked-area-chart-wrapper {
  flex: 4;
}

.bar-chart-wrapper {
  flex: 3;
  padding: 20px;
}

.stacked-area-chart-wrapper,
.bar-chart-wrapper {
  background-color: #f5f5fa;
  border: 1px solid #ccc;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.stacked-area-chart-wrapper app-stacked-area-chart {
  display: block;
  width: 100%;
  height: 100%;
}
