<div class="navbar-wrapper">
  <div class="brand">
    <span class="material-icons">monitor_heart</span>
    GridPulse
  </div>
  <nav class="nav-links">
    <h4>Overview</h4>
    <a href="#">
      <span class="material-icons">dashboard</span>
      Dashboard
    </a>
    <h4>Analytics</h4>
    <a href="#">
      <span class="material-icons">eco</span>
      Renewable Share
    </a>
    <a href="#">
      <span class="material-icons">compare_arrows</span>
      Crossborder Flows</a
    >
  </nav>
</div>
