@use 'mixins' as mixins;

.header {
  padding: 20px;
  border-bottom: 1px solid #ccc;

  .title {
    @include mixins.header-with-icon($font-size: 24px, $margin-bottom: 10px, $font-weight: 500);
  }

  .subtitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    .date {
      color: #777;
    }

    .bidding-zone,
    .update-badge {
      font-size: 12px;
      font-weight: 600;
      background-color: #dddddd;
      color: #495057;
      padding: 4px 15px;
      border-radius: 25px;
      margin-left: 0;
    }

    .update-badge {
      background-color: #6f7072;
      color: #fff;
    }
  }
}
