@use 'mixins' as mixins;

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.toolbar-wrapper {
  margin-bottom: var(--spacing-md);
}

.header {
  @include mixins.header-with-icon;
}

.charts-wrapper {
  display: flex;
  gap: var(--spacing-md);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  flex: 1;
  min-height: 0;

  .chart {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--bg-color-wrapper);
    flex: 1 1 180px;
    min-width: 180px;
    height: 100%;

    app-multi-donut-chart,
    app-stacked-area-chart {
      flex: 1;
      min-height: 0;
    }

    &.skeleton-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
      min-height: 300px;
      width: 100%;

      p-skeleton {
        width: 100%;
        display: block;
      }

      ::ng-deep .chart-body-skeleton {
        flex: 1;
        min-height: 0;
      }
    }
  }
}
